@media (max-width: 980px){
	.thumbs__item{
		width: 120px;
		height: 100px;
	}
	.thumbs .slick-track div + div{
		margin-left: 0px;
	}
	.works__item img{
		width: 100%;
	}
	.works__item{
		margin-left: 10px;
	}
	.works__img{
		display: none;
	}

}
@media (max-width: 940px){
	.block-info__inner{
		flex-wrap: wrap;
	}
	.block-info__item{
		width: 30%;
		margin-bottom: 20px;
	}
}
@media (max-width: 780px){
	.thumbs{
		display: none;
	}
	.block-info__inner{
		margin-top: -30px;
	}
}
@media(max-width: 880px){
	.footer-block__item{
		width: 200px;
	}

}
@media(max-width: 750px){
	.footer-block__item{
		margin-left: 20px;
	}
	.footer__social img{
		width: 70%;
		margin-left: 0px;
	}
}
@media (max-width: 680px){
	.footer__social{
		width: 70%;
		text-align: center;
	}
}
@media (max-width: 600px){
	.header__btn{
		display: block;
	}
	.header-menu > ul{
		display: none;
		position: absolute;
		z-index: 2;
		top: 70px;
		right: 0;
		padding: 10px 20px;
		background: #fff;
		border-bottom: 5px solid #e8663c;

	}
	.header-menu li{
		display: block;
		text-align: center;

	}
	.header-menu li + li a {
		border-top: 1px solid #e7e7e7;
	}
	.header-menu a{
		padding: 12px 0 12px 11px;
		font-weight: 400;
		display: block;
		text-transform: none;
		font-size: 20px;
	}
	.block-info__inner{
		flex-wrap: wrap;
		display: block;
	}
	.block-info__item{
		width: 100%;
		margin-bottom: 50px;
	}
	.footer__inner{
		display: block;
	}
	.footer-block__item{
		margin-bottom: 50px;
	}
	.footer__title{
		margin-bottom: -15px;
	}
	.footer__social{
		display: flex;
	}

	.footer-block__about{
		width: 100%;
	}
}
@media(max-width: 500px){
	.works-block__item{
		display: block;
	}
	.works__item{
		margin-bottom: 24px;
	}
}


@media (min-width: 600px){
	.header-menu > ul{
		display: flex !important;
	}
}